API_ID=26997995  
  
# API_HASH: 🔑 Telegram API Hash (string)  
API_HASH=5408f291eaa39bcd4df5ae133d144130  
  
# BOT_TOKEN: 🤖 Bot Token from BotFather  
BOT_TOKEN=7998203812:AAGlN9EmyQcz0DoRgwp9FlLXNdXbrhEvLWY 
  
# LOG_GROUP_ID: 📢 Log Group ID (integer)  
LOG_GROUP_ID=-1002584701675 
  
# MONGO_DB_URI: 🗄️ MongoDB URI  
MONGO_DB_URI=mongodb+srv://Akash:Akash@akash.cbqfo1w.mongodb.net/?retryWrites=true&w=majority&appName=Akash  
  
# OWNER_ID: 👤 Owner User ID (integer)  
OWNER_ID=8123663143  
  
# STRING_SESSION: 🔄 Pyrogram Userbot Session (string)  
STRING_SESSION=BQFBumcAXfHY2p4EPuRBSyyNSbz2NNEeMe4pUQyexRbTC1f_lMLBghKHm0msdBPhccrvCTYwzrPjjGPjbyUFFFo5uU2H1wQz_HaSEjlssDb20iZGdpSQ6v60oAiQacM1F07Zlj8uyx9d_8uz26Mnizmfw7kQiIfGoLPNexUcOvzn80fsJx1gzhoB-C5tDFlRMqifzY-NJ2g9rQStKUac6NGOodwHjDVRIeKh4Zsy9GF4wXq5kpy24eallV31HjpOAf3hB1cbWo8zD4Cqeb9gp1jO4XTS9KEPicq88sfO67pGt5SfCAMFE7giAlcKYuCEGKYOKLoSVd3J5clsAn3ujh3-nJZIswAAAAG4-Gh9AA  
  
# SUPPORT_GROUP: 🆘 Support Group URL  
SUPPORT_GROUP=https://t.me/Aura_Kingdom_Group  
  
# SUPPORT_CHANNEL: 📡 Support Channel URL  
SUPPORT_CHANNEL=https://t.me/Sanatani_Network  
  
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  
  
                     🛠️ 𝐂𝐫𝐞𝐝𝐢𝐭𝐬 & 𝐂𝐨𝐧𝐭𝐚𝐜𝐭 🛠️  
  
# 🔥 Developed & Maintained by:  
#  Telegram: @WTF_NoHope  
#  Telegram: @Sanatani_Network  
  
# ⚠️ Please keep credits intact if you use this bot publicly!  
  
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
