API_ID=26997995  
  
# API_HASH: 🔑 Telegram API Hash (string)  
API_HASH=5408f291eaa39bcd4df5ae133d144130  
  
# BOT_TOKEN: 🤖 Bot Token from BotFather  
BOT_TOKEN=7998203812:AAGlN9EmyQcz0DoRgwp9FlLXNdXbrhEvLWY 
  
# LOG_GROUP_ID: 📢 Log Group ID (integer)  
LOG_GROUP_ID=-1002321189618  
  
# MONGO_DB_URI: 🗄️ MongoDB URI  
MONGO_DB_URI=mongodb+srv://Akash:Akash@akash.cbqfo1w.mongodb.net/?retryWrites=true&w=majority&appName=Akash  
  
# OWNER_ID: 👤 Owner User ID (integer)  
OWNER_ID=8123663143  
  
# STRING_SESSION: 🔄 Pyrogram Userbot Session (string)  
STRING_SESSION=BQFBumcAwNm5x4aVLceJIdh7vyBLK2QBm9vuk8ArYZg7RsecrdqwHQy4lfnG3-HDGUAXWSTGWaHmwK6zwfuLfjpMBZ1RlQoUr1FnOFIS-HPIkSn4Yb9_Kv3t0jqxG01YiSLL4s39wQYizog4-2EROGyn1Yash7H3ZG0nu7t_e0zWjtaV6uRn2Uc_UnzID-npPr0RSQn4dm_I8xvb6204yYd8C1Ww7MoI7Z0U9FzpaP3NQ-VFraONrZ1lLbONVUPfvtoN9DEnVDm9q5cTKDUlsh8VT9tNQdG4kjhT72HaDXhCj0KUCf8_tACORJ-PADLt7eNvt_pN5vZbEn0-AGT0SnGjn-iIBwAAAAG4-Gh9AA  
  
# SUPPORT_GROUP: 🆘 Support Group URL  
SUPPORT_GROUP=https://t.me/Aura_Kingdom_Group  
  
# SUPPORT_CHANNEL: 📡 Support Channel URL  
SUPPORT_CHANNEL=https://t.me/Sanatani_Network  
  
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━  
  
                     🛠️ 𝐂𝐫𝐞𝐝𝐢𝐭𝐬 & 𝐂𝐨𝐧𝐭𝐚𝐜𝐭 🛠️  
  
# 🔥 Developed & Maintained by:  
#  Telegram: @WTF_NoHope  
#  Telegram: @Sanatani_Network  
  
# ⚠️ Please keep credits intact if you use this bot publicly!  
  
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
